body{
    height:100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.form{
    width:300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 45px;
    gap:20px;
    border:none;
    border-radius: 10px;
    box-shadow: 0 0 10px black;
}

#form{
     width:250px;
    display: flex;
    flex-direction: column;
    gap:20px;
}
